* {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	list-style-type: none;
}
a{ text-decoration: none; color: #333;}
body{ font-family: "微软雅黑"; font-size: 26px; max-width: 600px; margin: auto; background: #fff; min-height: 100%;}
a:active,
a:focus,
a img {
  outline: none;
}
.wm_shadow{ width: 100%; max-width: 600px; box-shadow: 0px 0px 4px #ccc;}
/* 导航 */
.wm_nav{ width: 100%; max-width: 600px; overflow: hidden; position: fixed; top: 0; margin: 0 auto; z-index: 999;}
.nav{ overflow: hidden; max-width: 600px; height: 70px; line-height: 70px; background: #0088dd; box-sizing: border-box; margin: 0 auto;border-bottom: 1px solid #1488cb; position: relative; text-align: center;}
.fmi_phone_logo{ display: block; float: left; border-right: 1px solid #13a1ef; padding-left: 20px;}
.fmi_phone_logo img{ vertical-align: middle; width: 100%;}
.fmi_phone_title{ font-size: 26px; color: #fff; font-weight: bold;}
.fmi_phone_dh{ cursor: pointer; display: block; float: right; border-left: 1px solid #13a1ef;}
.fmi_phone_dh img{ vertical-align: middle; width: 100%;}
@media screen and (max-width: 562px){
	.nav{ height: 50px; line-height: 50px;}
	.fmi_phone_title{ font-size: 20px;}
	.fmi_phone_logo{ padding-left: 0px;}
	.fmi_phone_logo img{ width: 70%;}
	.fmi_phone_dh img{ width: 70%;}
}

/* 下拉导航 */
.nav_max{ width: 100%; background: #eeeeee; padding: .5em 1em; overflow: hidden; box-shadow: 0px 2px 3px rgba(0,0,0,0.4); box-sizing: border-box; z-index: 999; display: none;}
.wm_same1{ display: block; float: left; padding: 3% 0;color: #fff; text-align: center; width: auto;margin: .5em .25em;}
.nav_max1_a{ background: #ea0505; border: 1px solid #ea0505;}
.nav_max1_b{ background: #0088dd; border: 1px solid #0088dd;}
.nav_max1,.nav_max2,.nav_max3,.nav_max4,.nav_max5{ overflow: hidden;}
.wm_same2{ display: block; float: left; padding: 3% 0;color: #868585; text-align: center; width: auto; background: #fff; border: 1px solid #ccc;margin: .5em .25em;}
.wm_same2 img{ width: 1.5em; vertical-align: middle; margin-right: .5em; margin-top: -.2em;}
.nav_max5_a{ width: 97%; padding: 3% 0; background: #fff; box-sizing: border-box;}
@media screen and (min-width: 320px){
	.wm_same1{ width: 44%;}
	.wm_same2{ width: 44%;}
	.nav_max5_a{ width: 92%;}

}
@media screen and (min-width: 362px){
	.wm_same1{ width: 46%;}
	.wm_same2{ width: 46%;}
	.nav_max5_a{ width: 95%;}
}
@media screen and (min-width: 382px){
	.wm_same1{ width: 47%;}
	.wm_same2{ width: 47%;}
	.nav_max5_a{ width: 96%;}
}
@media screen and (min-width: 532px){
	.wm_same1{ width: 48%;}
	.wm_same2{ width: 48%;}
	.nav_max5_a{ width: 98%;}
}
@media screen and (min-width: 560px){
	.wm_same1{ width: 46%;}
	.wm_same2{ width: 46%;}
	.nav_max5_a{ width: 95%;}
}
@media screen and (min-width: 600px){
	.wm_same1{ width: 47%;}
	.wm_same2{ width: 47%;}
	.nav_max5_a{ width: 97%;}
	
}


/*底部*/
.wm_footer{ width: 100%; max-width: 600px; overflow: hidden;}
.wm_footer_a{  background: #393939; font-size: 12px; overflow: hidden; padding: 0 58px; padding-top: 28px;}
.wm_footer .nomargin{ margin-right: 0;}
.wm_footer_a1{ float: left; width: 30%; margin: 0 auto; margin-right: 10px; text-align: center; color: #979797; margin-bottom: 22px;}
.wm_footer_a1 img{ width: 60%;}
.wm_footer_a1 p{ margin-top: 10px;}
.wm_footer_a1 a{ color: #979797;}
.wm_footer_b{ background: #222222; overflow: hidden; text-align: center; padding: 10px 0;}
.wm_footer_b .noborder{ border-right: none;}
.wm_footer_b1{ width: 180px; overflow: hidden; margin: 0 auto;}
.wm_footer_b1 a p{ font-size: 12px; color: #999; border-right: 1px solid #999; padding: 0 13px; text-align: center; float: left;}