/*个人资料详情*/
.personal_data_detail{ margin-top: 70px; width: 100%; max-width: 600px; overflow: hidden; background: #f1f1f1;}
@media screen and (max-width: 560px){
	.personal_data_detail{ margin-top: 50px;}
}

.personal_data_detail_b{ width: 100%; height: 50px; line-height: 30px; border-bottom: 1px solid #f4f4f4; box-sizing: border-box; overflow: hidden; background: #fff; position: relative; padding: 10px 15px;}
.personal_data_detail_b2{ overflow: hidden; width: 100%;}
.personal_data_detail_b2 input{ font-size: 14px; width: 90%; text-align: left; height: 30px; line-height: 30px; float: left; font-family: "微软雅黑"; padding-left: 10px;}
.personal_data_detail_b2 p{ font-size: 14px; width: 90%; text-align: right; height: 30px; line-height: 30px; float: left; font-family: "微软雅黑"; font-size: 14px;}
.personal_data_detail_b2 input:focus{ outline: none;}

.personal_data_detail_d{ width: 95%; color: #fff; background: #88aa22; padding: 15px 0; font-family: "微软雅黑"; font-size: 16px; margin: 30px 15px; cursor: pointer;}
@media screen and (max-width: 560px){
	.personal_data_detail_d{ width: 92%;}
}

.kong{ height: 410px;}
@media screen and (max-width: 600px){
	.kong{ height:250px;}
}